body,
h1,
h2 {
	font-family: "Roboto", "Arial", sans-serif;
	color: white;
	background-color: gray;
}

body {
	font-size: 14px;
	line-height: 16px;
}

h1 {
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
}

h2 {
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
}